<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
</head>
<body>
<h2>a2k has writen {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>
    {% for blog in blogs %}
    <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
        <h5>{{ blog.date|date:"d F Y" }}</h5>
        <p>{{ blog.description|safe|truncatechars:100 }}</p>
    {% endfor %}
</body>
</html>